a {
  text-decoration: none;
}

html {
  width: 100%;
  justify-content: center;
}

body {
  background-color: #e0ac9d;
  padding: 0px;
  margin: 0px;
}

.imagehtml {
  width: 90px;
  height: 90px;
  margin-top: -400px;
  margin-left: 100px;
}
.imagehtml .html {
  width: 145px;
  margin-left: -27px;
  margin-top: -27px;
}
.imagecss {
  width: 90px;
  height: 90px;
  margin-top: -94px;
  margin-left: 300px;
}

.imagecss .css {
  width: 85px;
  margin-left: 2px;
  margin-top: 5px;
}

.imagepython {
  width: 90px;
  height: 90px;
  margin-top: -94px;
  margin-left: 500px;
}

.imagepython .python {
  width: 170px;
  margin-left: -40px;
}

.imagedjango {
  width: 90px;
  height: 90px;
  margin-left: 700px;
  margin-top: -94px;
}

.imagedjango .django {
  width: 88px;
  margin-top: 30px;
  margin-left: 1px;
}

.imagebootstrap {
  width: 90px;
  height: 90px;
  margin-left: 900px;
  margin-top: -94px;
}

.imagebootstrap .bootstrap {
  width: 100px;
  margin-left: -5px;
  margin-top: -5px;
}

.imagejavascript {
  width: 90px;
  height: 90px;
  margin-left: 200px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.imagejavascript .javascript {
  width: 100px;
  margin-left: -5px;
  margin-top: -5px;
}

.imagejava {
  width: 90px;
  height: 90px;
  margin-left: 400px;
  margin-top: -145px;
  margin-bottom: 100px;
}

.imagejava .java {
  width: 72px;
  margin-left: 10px;
}

.imagespring {
  width: 90px;
  height: 90px;
  margin-left: 600px;
  margin-top: -193px;
  margin-bottom: 100px;
}

.imagespring .spring {
  width: 270px;
  margin-left: -90px;
  margin-top: -48px;
}

.imagepostgresql {
  width: 90px;
  height: 90px;
  margin-left: 800px;
  margin-top: -193px;
  margin-bottom: 100px;
}

.imagepostgresql .postgresql {
  width: 150px;
  margin-left: -30px;
}
.wholeNavBar {
  list-style-type: none;
  overflow: hidden;
  background-color: #cadbc8;
  position: sticky;
  top: 0;
  border-bottom: 10px solid #422040;
  width: 100%;
}

.wholeNavBar a {
  float: left;
  padding: 10px;
  margin-left: 15px;
}

.wordsInsideNav {
  font-size: 20px;
  float: left;
  color: #422040;
}

a.wordsInsideNav:hover {
  color: #e0ac9d;
}

.aboutMeContainer {
  display: block;
  width: 100%;
  justify-content: center;
}

.myName {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 60px;
  font-weight: bold;
  margin: 90px 150px -15px 750px;
  color: #404040;
}

.myCareer {
  text-align: center;
  font-family: Apple Chancery;
  color: #404040;
  font-size: 35px;
  font-weight: bold;
  margin-left: 750px;
  margin-bottom: -30px;
  margin-right: 150px;
}

.myPicture img {
  border-radius: 8px;
  width: 460px;
  height: 500px;
  margin: -100px 0px 10px 100px;
  float: left;
}

.aboutMakyla {
  font-size: 20px;
  color: #cadbc8;
  background: #422040;
  text-align: center;
  margin: 115px 75px 75px 700px;
  border-color: #cadbc8;
  border-width: 10px;
  border-style: solid;
  padding: 50px 50px 50px 50px;
  border-radius: 0.4rem;
}

.skillsBackground {
  background-color: #cadbc8;
  border-color: #422040;
  border-width: 10px;
  border-style: solid;
  border-radius: 0.4rem;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 200px;
}

.skillWord {
  text-align: center;
  font-size: 50px;
  color: #404040;
  margin-bottom: 500px;
}

.skillsContainer {
  align-items: center;
  justify-content: space-around;
  margin-left: 70px;
  flex-direction: row;
  font-size: 25px;
  width: 75px;
  margin-bottom: 50px;
  display: inline;
}

.alignProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 150px;
  grid-gap: 1rem;
  margin: 70px 15px 100px 15px;
  border-radius: 0.4rem;
  word-wrap: break-word;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
}

.projectsCard {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  width: 10rem;
  border-radius: 0.4rem;
  height: 14rem;
  font-size: 20px;
  background-color: #422040;
  color: #cadbc8;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
}

.projectsCard:hover {
  background-color: #cadbc8;
  color: black;
}

.project-link {
  color: #e0ac9d;
  font-weight: 900;
}

.project-link:hover {
  color: black;
}

.contact1 {
  float: left;
  width: 100px;
  display: inline;
  margin-left: 165px;
  margin-right: 25px;
  transition: all 0.2s ease-in-out;
}
.contact2 {
  float: left;
  width: 100px;
  display: inline;
  margin-left: 165px;
  margin-right: 25px;
  transition: all 0.2s ease-in-out;
  margin-top: 13px;
}
.contact3 {
  float: left;
  width: 100px;
  display: inline;
  margin-left: 165px;
  margin-right: 25px;
  transition: all 0.2s ease-in-out;
}
.contact1:hover {
  transform: scale(1.4);
}
.contact2:hover {
  transform: scale(1.4);
}
.contact3:hover {
  transform: scale(1.4);
}

.overAllContact {
  float: left;
  width: 100px;
  display: inline;
  margin-left: 165px;
  margin-right: 25px;
}

.contact-align {
  list-style-type: none;
  margin: -0px;
  padding: 10px 10px 10px 100px;
  overflow: hidden;
  background-color: #cadbc8;
  position: static;
  border-top: 10px solid #422040;
  margin-top: 100px;
}

.contact-meWord {
  text-align: center;
  color: #404040;
  font-size: 35px;
}

@media screen and (max-width: 600px) {
  a {
    text-decoration: none;
  }

  html {
    width: 100%;
    justify-content: center;
  }

  body {
    background-color: #e0ac9d;
    padding: 0px;
    margin: 0px;
  }

  .wholeNavBar {
    list-style-type: none;
    overflow: hidden;
    background-color: #cadbc8;
    position: sticky;
    top: 0;
    border-bottom: 10px solid #422040;
    width: 100%;
  }

  .wholeNavBar a {
    display: block;
    float: left;
    padding: 10px;
    margin-left: 15px;
  }

  .wordsInsideNav {
    font-size: 20px;
    float: left;
    color: #422040;
  }

  .aboutMeContainer {
    display: block;
    width: 100%;
    justify-content: center;
  }

  .myName {
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 60px;
    font-weight: bold;
    margin: 35px 10px -15px 15px;
    color: #404040;
  }

  .myCareer {
    visibility: hidden;
    text-align: center;
    font-family: Apple Chancery;
    color: #404040;
    font-size: 35px;
    font-weight: bold;
    margin-left: 750px;
    margin-bottom: -30px;
    margin-right: 150px;
  }

  .myPicture img {
    border-radius: 8px;
    width: 400px;
    height: 450px;
    margin: -50px 35px 10px 50px;
  }

  .aboutMakyla {
    font-size: 20px;
    color: #cadbc8;
    background: #422040;
    text-align: center;
    margin: 450px 35px 75px 35px;
    border-color: #cadbc8;
    border-width: 10px;
    border-style: solid;
    padding: 50px 50px 50px 50px;
  }

  .skillsBackground {
    background-color: #cadbc8;
    border-bottom: 10px solid #422040;
    padding-bottom: 10px;
    /* width: 100%; */
    border-top: 10px solid #422040;
    width: fit-content;
    margin-left: 21px;
    margin-right: 90px;
  }

  .skillWord {
    text-align: center;
    font-size: 50px;
    color: #404040;
  }

  .skillsContainer {
    align-items: center;
    justify-content: space-around;
    margin-left: -1000px;
    flex-direction: row;
    font-size: 25px;
    width: 75px;
    margin-bottom: 50px;
    display: inline;
  }

  .imagehtml {
    width: 60px;
    height: 60px;
    margin-top: -450px;
    margin-left: 60px;
    
    
  }

  .imagehtml .html {
    width: 100px;
    margin-left: -20px;
    margin-top: -20px;
  }

  .imagecss {
    width: 60px;
    height: 60px;
    margin-top: -64px;
    margin-left: 180px;
    
  }

  .imagecss .css {
    width: 60px;
    margin-left: -0px;
    margin-top: -0px;
    margin-right: -200px;
  }

  .imagepython {
    width: 60px;
    height: 60px;
    margin-top: -64px;
    margin-left: 300px;
    margin-right: 75px;
    
    margin-bottom: 30px;
  }

  .imagepython .python {
    width: 120px;
    margin-left: -30px;
    margin-top: -2px;
  }

  .imagedjango {
    width: 60px;
    height: 60px;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: -2px;
    
  }

  .imagedjango .django {
    width: 60px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .imagebootstrap {
    width: 60px;
    height: 60px;
    
    margin-left: 180px;
    margin-top: -64px;
  }

  .imagebootstrap .bootstrap {
    width: 70px;
    margin-left: -5px;
    margin-top: -5px;
  }

  .imagejavascript {
    width: 60px;
    height: 60px;
    margin-left: 300px;
    margin-top: -64px;
    
    margin-bottom: 30px;
  }

  .imagejavascript .javascript {
    width: 69px;
    margin-left: -5px;
    margin-top: -5px;
  }

  .imagejava {
    width: 60px;
    height: 60px;
    margin-left: 60px;
    margin-top: -2px;
    
  }

  .imagejava .java {
    width: 47px;
    margin-left: 5px;
    margin-top: -1px;
  }

  .imagespring {
    width: 60px;
    height: 60px;
    margin-left: 180px;
    margin-top: -165px;
    
  }

  .imagespring .spring {
    width: 180px;
    margin-left: -60px;
    margin-top: -33px;
  }



  .imagepostgresql {
    width: 60px;
    height: 60px;
    margin-left: 300px;
    margin-top: -165px;
    
  }

  .imagepostgresql .postgresql {
    width: 100px;
    margin-left: -20px;
    margin-bottom: 45px;
    margin-top: 0px;
  }


  .alignProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 150px;
    grid-gap: 1rem;
    margin: 25px 15px 10px 15px;
    border-radius: 0.4rem;
    word-wrap: break-word;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
  }

  .projectsCard {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    width: 10rem;
    border-radius: 0.4rem;
    height: 14rem;
    font-size: 20px;
    background-color: #422040;
    color: #cadbc8;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .project-link {
    color: #e0ac9d;
    font-weight: 900;
  }

  .contact1 {
    float: left;
    width: 100px;
    display: inline;
    margin-left: -80px;
    margin-right: 25px;
    transition: all 0.2s ease-in-out;
  }
  .contact2 {
    float: left;
    width: 100px;
    display: inline;
    margin-left: -55px;
    margin-right: 25px;
    transition: all 0.2s ease-in-out;
    margin-top: 13px;
  }
  .contact3 {
    float: left;
    width: 100px;
    display: inline;
    margin-left: 100px;
    margin-right: 25px;
    transition: all 0.2s ease-in-out;
    margin-top: -90px;
  }

  .overAllContact {
    float: left;
    width: 100px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .contact-align {
    list-style-type: none;
    margin: -0px;
    padding: 10px 10px 10px 100px;
    overflow: hidden;
    background-color: #cadbc8;
    position: static;
    border-top: 10px solid #422040;
    margin-top: 100px;
  }

  .contact-meWord {
    margin-right: 40px;
    color: #404040;
    font-size: 35px;
  }
}
